body {
    background-color: rgb(173, 14, 40);
    color: rgb(27, 147, 183);
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(24, 180, 208);
    font-size: 32px;
}

h1 span {
    color: rgb(18, 199, 115);
}

h2 {
    color: rgb(255, 255, 0);
    font-size: 24px;
}

p {
    color: rgb(18, 199, 115);
}
